<!DOCTYPE html>
<html>
<head>
  <title>Sample</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    'application', media: "only screen and (max-width: 979px)", 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'application', media: "only screen and (min-width: 980px) ", 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render 'layouts/header' %>

<p class="notice"><%= notice %></p>
<%- if alert.present? %>
  <p class="alert" style="display: block; margin-top: 18px;"><%= alert %></p>
<%- end %>

<%= yield %>
<%= render 'layouts/footer' %>

</body>
</html>
